<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Administracja!{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
</head>
<body>
    <div id="main">
        <div>
            <ul class="list-inline">
                <li><a href="{{ path('logout') }}">Wyloguj</a>
            </ul>
        </div>
        {% for flashMessage in app.session.flashbag.get('notice') %}
            <div class="flash flash-notice">
                {{ flashMessage }}
            </div>
        {% endfor %}
        {% for flashMessage in app.session.flashbag.get('error') %}
            <div class="flash flash-error">
                {{ flashMessage }}
            </div>`
        {% endfor %}
    {% block body %}{% endblock %}
</div>
{% block javascripts %}{% endblock %}
</body>
</html>
