<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    </head>
    <body>
        <div class="main">
            <div id="header"></div>
            <div id="menu">{% block menucontent %}{% endblock %}</div>
            <div id="content">{% block content %}{% endblock %}</div>
        </div>
        <script type="text/javascript" src="http://code.jquery.com/jquery-1.9.1.js"></script>
    </body>
</html>