{% extends 'accommodationBundle::layout.html.twig' %} 

{% block body -%}
    <h1>Lista ofert</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nazwa</th>
                <th>Opis</th>
                <th>Data początkowa</th>
                <th>Data końcowa</th>
                <th>Miasto</th>
                <th>Liczba miejsc</th>
                <th>Cena za nocleg</th>
                <th>Ilość komentarzy</th>
                <th>akcje</th>
            </tr>
        </thead>
        <tbody>
            {% for entity in entities %}
                <tr>
                    <td>
                        {% if is_granted('ROLE_USER') -%}
                            <a href="{{ path('places_show', { 'id': entity.id }) }}">{{ entity.id }}</a>
                        {% else %}
                            {{ entity.id }}
                        {% endif %}
                    </td>
                    <td>{{ entity.name }}</td>
                    <td>{{ entity.description }}</td>
                    <td>{% if entity.startAt %}{{ entity.startAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                    <td>{% if entity.endAt %}{{ entity.endAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                    <td>{{ entity.city }}</td>
                    <td>{{ entity.numberOfBeds }}</td>
                    <td>{{ entity.bedCost }}</td>
                    <td>{{ entity.commentsCount }}</td>
                    <td>
                        <ul>
                            {% if is_granted('ROLE_USER') -%}
                                <li>
                                    <a href="{{ path('places_show', { 'id': entity.id }) }}">podgląd</a>
                                </li>
                            {% endif %}
                            {% if is_granted('ROLE_ADMIN') -%}
                                <li>
                                    <a href="{{ path('places_edit', { 'id': entity.id }) }}">edycja</a>
                                </li>
                            {% endif %}
                        </ul>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <ul>
        {% if is_granted('ROLE_ADMIN') -%}
            <li>
                <a href="{{ path('places_new') }}">
                    dodaj nowy ->
                </a>
            </li>
        {% endif %}
    </ul>
{% endblock %}
