{% extends 'accommodationBundle::layout.html.twig' %} 

{% block body -%}
    <h1>Tworzenie oferty</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('places') }}">
            powrót do listy
        </a>
    </li>
</ul>
{% endblock %}
