{% extends 'accommodationBundle::layout.html.twig' %} 

{% block body -%}
    <h1>Oferta</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Nazwa</th>
                <td>{{ entity.name }}</td>
            </tr>
            <tr>
                <th>Opis</th>
                <td>{{ entity.description }}</td>
            </tr>
            <tr>
                <th>Data początkowa</th>
                <td>{{ entity.startAt|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Data końcowa</th>
                <td>{{ entity.endAt|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Miasto</th>
                <td>{{ entity.city }}</td>
            </tr>
            <tr>
                <th>Liczba miejsc</th>
                <td>{{ entity.numberOfBeds }}</td>
            </tr>
            <tr>
                <th>Cena za nocleg</th>
                <td>{{ entity.bedCost }}</td>
            </tr>
            <tr>
                <th>Ilość komentarzy</th>
                <td>{{ entity.commentsCount }}</td>
            </tr>
        </tbody>
    </table>
    <ul class="record_actions">
        <li>
            <a href="{{ path('places') }}">
                powrót do listy
            </a>
        </li>
        {% if is_granted('ROLE_ADMIN') -%}
            <li>
                <a href="{{ path('places_edit', { 'id': entity.id }) }}">
                    Edit
                </a>
            </li>
            <li>{{ form(delete_form) }}</li>
            {% endif %}
    </ul>
    <h1>Tworzenie komentarza</h1>

    {{ form(commentsForm) }}
    {% include 'accommodationBundle:Comments:list.html.twig' with {"entities": comments } only %}
{% endblock %}
