{% if error %}
	<div>{{ error }}</div>
{% endif %} 
<script src="http://politykacookies.pl/politykacookies.pl.js"></script> <script type="text/javascript"> cookiesPolicy(); </script> 
<p>Przejdź do strony <a href="{{ path('login') }}" >logowania</a> lub do <a href="{{ path('_welcome') }}" >strony głównej</a></p>