 {% if error %}
     <div>{{ error.message }}</div>
 {% endif %} 
<script src="http://politykacookies.pl/politykacookies.pl.js"></script> <script type="text/javascript"> cookiesPolicy(); </script> 
 <form action="{{ path('login_check') }}" method="post">
     <label for="username">Username:</label>
     <input type="text" id="username" name="_username" value="{{ last_username }}" />

     <label for="password">Password:</label>
     <input type="password" id="password" name="_password" />

     {#
         If you want to control the URL the user is redirected to on success (more details below)
         <input type="hidden" name="_target_path" value="/account" />
     #}

     <button type="submit">login</button>
 </form>