<!DOCTYPE html>
<html>
    <head>
        <title>Oferty noclegów</title>
    </head>
    <body>
        <div class="main">
            <div class="menu">
                <ul>
                    {% if is_granted('IS_AUTHENTICATED_FULLY') -%}
                    <li><a href="{{ path('logout') }}">Wyloguj</a></li>
                    {% else %}
                    <li><a href="{{ path('login') }}">Zaloguj</a></li>
                    {% endif %}
                    {% if is_granted('ROLE_ADMIN') -%}
                    <li><a href="{{ path('comments') }}">Komentarze</a></li>
                    {% endif %}
                    {% if is_granted('ROLE_USER') -%}
                    <li><a href="{{ path('places') }}">Oferty</a></li>
                    {% endif %}
                </ul>
            </div>
        {% block body %}{% endblock %}
    </div>
</body>
</html>