{% extends 'accommodationBundle::layout.html.twig' %} 

{% block body -%}
    <h1>Edycja komentarzy</h1>

    {{ form(edit_form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('comments') }}">
            powrót do listy
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
