{% extends 'accommodationBundle::layout.html.twig' %} 

{% block body -%}
    <h1>Lista komentarzy</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Ip</th>
                <th>Treść</th>
                <th>Status</th>
                <th>akcje</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('comments_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.ip }}</td>
                <td>{{ entity.content }}</td>
                <td>{{ entity.status }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('comments_show', { 'id': entity.id }) }}">podgląd</a>
                    </li>
                    <li>
                        <a href="{{ path('comments_edit', { 'id': entity.id }) }}">edycja</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('comments_new') }}">
                dodaj nowy ->
            </a>
        </li>
    </ul>
    {% endblock %}
