{% block body -%}
    <h1>Lista komentarzy</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Treść</th>
                <th>Author</th>
            </tr>
        </thead>
        <tbody>
            {% for entity in entities %}
                <tr>
                    <td>{{ entity.content }}</td>
                    <td>{{ entity.nick }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
